/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

/* Import Tailwind base, components, and utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import theme toggle styles */
@import './styles/themeToggle.css';

/* Light theme variables */
:root {
  --background: #F5F9FF;
  --text-color: #333;
  --primary-color: #8fb5f5; /* Light blue background for theme toggle */
  --secondary-color: #f5eb42; /* Light yellow for the sun */
  --sun-moon-color: #ddd; /* Light moon color */
  --clouds-opacity: 0.4;
  --stars-opacity: 0;
}

/* Dark theme variables */
[data-theme='dark'] {
  --background: #121212; /* Dark background */
  --text-color: #f5f5f5; /* Light text on dark background */
  --primary-color: #2b3e65; /* Dark blue for theme toggle */
  --secondary-color: #2b2b2b; /* Dark grey for the moon */
  --sun-moon-color: #f5f5f5; /* Lighter moon color */
  --clouds-opacity: 0.2;
  --stars-opacity: 1;
}

/* Body styling */
body {
  background-color: var(--background);
  color: var(--text-color);
  font-family: 'Rubik', sans-serif;
}

/* Tailwind classes for dark mode support */
body[data-theme='dark'] {
  background-color: var(--background);
  color: var(--text-color);
}
